﻿@model MoonFresh.Areas.Admin.ViewModels.Gallery.GalleryAddViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Добавление галлереи";
}

<h1>Добавление материала</h1>
<hr />

@using (Html.BeginForm("AddGallery", "Gallery", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{

    <div class="row">
        <div Class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(x => x.CategoryId, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.CategoryId, "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Alt, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Alt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Alt, "")
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(x => x.Image, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Image, new { htmlAttributes = new { @type = "file" } })
                    @Html.ValidationMessageFor(x => x.Image, "")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.IsActive, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.IsActive)
                </div>
            </div>
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>

    </div>
}
