﻿@model MoonFresh.Areas.Admin.ViewModels.Gallery.GalleryIndexViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Галлерея";
}

<h1>Галлерея</h1>
<hr />
<h3>Категории галлереи</h3>
@Html.ActionLink("Добавить", "AddGalleryCategory", "Gallery", null, new { @class = "btn btn-success" })
<table class="table table-hover">
    <thead>
        <tr>
            <th>Категория</th>
            <th>Изображение</th>
            <th>Вкл.</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GalleryCategories)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Title)</td>
                <td><img src="/ajax/readfile?id=@item.PathToImage" hight="300" width="300" /></td>
                <td>@Html.DisplayFor(x=>item.IsActive)</td>
                <td>@Html.ActionLink("Редактировать", "EditGalleryCategory", "Gallery", new { @id = item.Id }, new { @class = "btn btn-primary " })</td>
                <td> <button class="btn btn-danger DeleteFaq" value="@item.Id">Удалить</button></td>
                @*<td>@Html.ActionLink("Удалить", "DeleteCategory", "Material", new { @id = item.Id }, new { @class = "btn btn-Danger DeleteCategory" })</td>*@
            </tr>

        }
    </tbody>
</table>

<hr />
<h3>Изображения</h3>
<hr />
<h4>Фильтр</h4>
@using (Html.BeginForm("Index","Gallery",FormMethod.Get))
{
    <div class="form form-horizontal">
        <div class="col-md-5">
            <div class="form-group">

                @Html.DropDownList("categoryId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Фильтровать" />
        </div>
    </div>
}
<hr />
@Html.ActionLink("Добавить", "AddGallery", "Gallery", null, new { @class = "btn btn-success" })
<table class="table table-hover">
    <thead>
        <tr>
            <th>Описание</th>
            <th>Изображение</th>
            <th>Вкл.</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Galleres)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Alt)</td>
                <td><img src="/ajax/readfile?id=@item.PathToImage" hight="300" width="300" /></td>
                <td>@Html.DisplayFor(x=>item.IsActive)</td>
                <td>@Html.ActionLink("Редактировать", "EditGallery", "Gallery", new { @id = item.Id }, new { @class = "btn btn-primary " })</td>
                
                <td> <button class="btn btn-danger DeleteFaq1" value="@item.Id">Удалить</button></td>
                @*<td>@Html.ActionLink("Удалить", "Delete", "Gallery", new { @id = item.Id }, new { @class = "btn btn-Danger DeleteCategory" })</td>*@
            </tr>

        }
    </tbody>
</table>
@await Html.PartialAsync("Paging", Model.PageInfo)


@section Scripts{
    <script>
        $('.DeleteFaq').click(function (e) {
            e.preventDefault();
            var confirm = window.confirm('Вы действительно хотите удалить Категорию ?');
            if (confirm == true) {
                var id = $(this).val();

                console.log(id);

                $.post('@Url.Action("DeleteGalleryCategory", "Gallery", null)/?id=' + id, function (data) { alert(data); });

                //window.location.replace('@Url.Action("Index")');
                location.reload();
            }

        });

        $('.DeleteFaq1').click(function (e) {
            e.preventDefault();
            var confirm = window.confirm('Вы действительно хотите удалить изображение ?');
            if (confirm == true) {
                var id = $(this).val();

                console.log(id);

                $.post('@Url.Action("Delete", "Gallery", null)/?id=' + id, function (data) { alert(data); });

                window.location.replace('@Url.Action("Index")');
            }

        });
    </script>
}