﻿@using  MoonFresh.Core
@model MoonFresh.Models.About
@{
    List<NavigationViewModel> nav=new List<NavigationViewModel>();
    if (!(Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAjax.cshtml";


    }
    @if (ViewBag.Navigation != null)
    {
         nav = ViewBag.Navigation;


    }
    ViewBag.Title = "О нас";
}

<div class="contentBox1">
 
    <div class="wrap">
    
        @await Html.PartialAsync("_PartialNavigation", nav)
        <figure class="figure1">
            <img src="/ajax/readfile?id=@Model.PathToImage" alt="">
        </figure>
        <div class="cont_txt">
            <h2 class="marg_01">@Model.Title</h2>
            <hr>
           @Html.Raw(Model.Description)
            <a class="btn moreBtn" href="./MoreAbout">Подробнее</a>
        </div>
    </div>
</div>