﻿@using MoonFresh.Core
@model MoonFresh.ViewModels.Home.MaterialAllViewModel

@{
    if (!(Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAjax.cshtml";


    }
    ViewBag.Title = Model.CategoryTitle;
    List<NavigationViewModel> nav = ViewBag.Navigation;
}


<div class="contentBox2">
    @await Html.PartialAsync("_PartialNavigation", nav)
    <h2 class="marg_02">@ViewBag.Title</h2>
    <hr class="corr_1">
    <div class="wrap">
        @foreach (var item in Model.Material)
            {

            <div class="contentBox3">
                <img class="icon1" src="/ajax/readfile?id=@item.PathToImage" alt="" style="max-width: 100px;">
                <div class="wrap">
                    <h3><a href="/SingleMaterial?id=@item.Id">@item.Title</a></h3>
                    @Html.Raw(item.Description)
                </div>
            </div>
        }

       
    </div>

</div>
