﻿@using  MoonFresh.Core
@model MoonFresh.Models.Property

@{
    if (!(Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAjax.cshtml";

    }
    List<NavigationViewModel> nav = ViewBag.Navigation;
    ViewBag.Title = "Контакты";
}

@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeam9tLbNiwgt5pPHLQLnazj-5GX-03L4&v2" type="text/javascript"></script>
<script src="/js/gmaps.js"></script>*@

<div class="contentBox4">

    <div class="wrap">
        @await Html.PartialAsync("_PartialNavigation", nav)
        @*<div id="map" class="map mapContainer" lat="@Model.Lat" lng="@Model.Long"></div>*@
        <div class="mapContainer">
            <figure class="g_map">
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDDapuka0XLPNHgZJ29MI7jKssueNcLgN0&q=@Model.Addres"></iframe>
            </figure>
        </div>
        <div class="cont_txt2">
            <h2>Контактная  <br>информация</h2>
            <hr>
           
            <h3>@Model.Addres</h3>
            <p>
                @foreach (var item in Model.Phone)
                {
                    <span class="space1">@item.Key:</span>@item.Value <br>

                }
               
                E-mail: <a href="mail-to:@Model.Email" class="link1"> @Model.Email </a>
            </p>
        </div>
    </div>
</div>
