﻿@model MoonFresh.ViewModels.Home.GalleryViewModel

@{
    if (!(Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAjax.cshtml";


    }
    ViewBag.Title = Model.Category.Title;
}
@*<div class="splashHolder"></div>*@
    <div data-id="gallery-full" id="gallery-full">
        <a href="./" class="closeIcon1 closeIconGallery history-back"></a>
        <div class="galleryContainer" id="galleryContainer">
            <div id="imgSpinner"></div>
            <a href="./readmore.html" id="prevButton"><span></span></a>
            <a href="./readmore.html" id="nextButton"><span></span></a>
            <a href="#" class="fullscr-btn"><span class="ic1"></span><span class="ic2"></span></a><br>
            <div id="galleryHolder">
                <div id="imageHolder">
                    <img src="/ajax/readfile?id=@Model.Gallerys.ElementAt(0).PathToImage" alt="">
                </div>
            </div>
            <div id="inner">
                <ul>
                    @foreach (var item in Model.Gallerys)
                    {

                        <li><a href="/ajax/readfile?id=@item.PathToImage"></a></li>
                    }
                  
                   
                </ul>
            </div>
            <ul id="galleryDescription"></ul>
        </div>
    </div>