﻿@using MoonFresh.Core
@model MoonFresh.ViewModels.Home.GalleryViewModel
@{ 
    if(!(Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout= "~/Views/Shared/_LayoutAjax.cshtml";

    }
    ViewBag.Title = Model.Category.Title;
    List<NavigationViewModel> nav = ViewBag.Navigation;
}
@await Html.PartialAsync("_PartialNavigation", nav)
<div class="splashHolder">
    
</div>
    <style type="text/css">
        .cf-hidden {
            display: none;
        }

        .cf-invisible {
            visibility: hidden;
        }
    </style>
    <ul data-categoty="animal">
        @foreach (var item in Model.Gallerys)
        {
        <li data-align="default" data-link="./GalleryFull?id=@Model.Category.Id" data-preview="/ajax/readfile?id=@item.PathToImage"></li>
        }

        
    </ul>

@*<div id="galleryPrototype5" class="animal">
    <div id="mainHolder">
    <div class="title">
        <span>animal</span>
    </div>
    <div class="controlHolder">
        <div id="mainPagination">
        <ul><li class="active"><span></span></li><li><span></span></li></ul>
         </div></div>
    <div class="closeItem">back to gallery</div></div>
    <div id="fullPreviewHolder">
        @foreach(var item in Model.Gallerys)
        {


        }
        <div class="primaryFullImage">
        <div class="full_link">
            <a href="./GalleryFull?id=58f69088321ecd2eb83efbb8"></a>
        </div>
        <img src="/ajax/readfile?id=img/gallery/gall1_preview_1.jpg" alt="" style="width: 970px; height: auto; top: -53px; left: 0px;" class="default">
        </div>
    <div class="secondaryFullImage">
        <div class="full_link">
            <a href="./GalleryFull?id=58f69088321ecd2eb83efbb8"></a>
        </div>
        <img src="/ajax/readfile?id=img/gallery/gall1_preview_1.jpg" alt="" style="width: 970px; height: auto; top: -53px; left: 0px;" class="default">
    </div>
    <div class="fullPreviewLoader">

    </div>
</div>
</div>*@




