﻿@using  MoonFresh.Core
@model IEnumerable<MoonFresh.Models.GalleryCategory>
@{ 
    if (!(Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAjax.cshtml";

    }
    ViewBag.Title= "Галлерея";
    //List<NavigationViewModel> nav = ViewBag.Navigation;
}


<div class="splashHolder">
  
        

       @*@await Html.PartialAsync("_PartialNavigation", nav)*@
    
    <ul>
        @for(int i=0; i<Model.Count();i++)
        {
            <li class="@string.Format("linkItem item{0}",i+1)">
                <div class="imageItem"><img src="/ajax/readfile?id=@Model.ElementAt(i).PathToImage" alt=""></div>
                <a href="./GalleryAll/@Model.ElementAt(i).Title">
                    <div class="title">@Model.ElementAt(i).Title</div>
                    <div class="extraGradient"></div>
                    <div class="extraPlane0"><img src="img/grad_button.png" alt=""></div>
                    <div class="extraPlane1"></div>
                    <div class="extraPlane2"></div>
                    <div class="extraPlane3"></div>
                    <div class="extraPlane4"></div>
                </a>
            </li>

        }
             
        @*<li class="linkItem item2">
            <div class="imageItem"><img src="img/splashImg2.jpg" alt=""></div>
            <a href="/nailcare">
                <div class="title">Nail Care</div>
                <div class="extraGradient"></div>
                <div class="extraPlane0"><img src="img/grad_button.png" alt=""></div>
                <div class="extraPlane1"></div>
                <div class="extraPlane2"></div>
                <div class="extraPlane3"></div>
                <div class="extraPlane4"></div>
            </a>
        </li>
        <li class="imgItem">
            <img src="img/splashImg3.jpg" alt="">
        </li>
        <li class="linkItem item3">
            <div class="imageItem"><img src="img/splashImg4.jpg" alt=""></div>
            <a href="/makeup">
                <div class="title">Makeup</div>
                <div class="extraGradient"></div>
                <div class="extraPlane0"><img src="img/grad_button.png" alt=""></div>
                <div class="extraPlane1"></div>
                <div class="extraPlane2"></div>
                <div class="extraPlane3"></div>
                <div class="extraPlane4"></div>
            </a>
        </li>
        <li class="imgItem">
            <img src="img/splashImg5.jpg" alt="">
        </li>*@
    </ul>
</div>



<div id="category_pages" data-follow="location" data-type="switcher">
    @foreach (var item in Model)
    {
        <div data-id="GalleryAll/@item.Title" data-source="./GalleryAll?id=@item.Title"></div>

    }



     @* <div data-id="hairdressing" data-source="./gallery-hairdressing.html"></div>
  <div data-id="nailcare" data-source="./gallery-nailcare.html"></div>
    <div data-id="makeup" data-source="./gallery-makeup.html"></div>*@
</div>
