﻿@using MoonFresh.Core
@model MoonFresh.ViewModels.Home.MoreViewModel
@{
    if (!(Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAjax.cshtml";


    }
    ViewBag.Title = Model.Title;
    List<NavigationViewModel> nav = ViewBag.Navigation;

}
<div class="contentBox5">
    @await Html.PartialAsync("_PartialNavigation", nav)
    <h2>@Model.Title</h2>
    <hr class="marg_04">
    <div class="wrap">
        @Html.Raw(Model.Text)
    </div>
</div>