﻿ @model IEnumerable<MoonFresh.Models.Service>
@using MoonFresh.Core

@{
    if (!(Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAjax.cshtml";


    }
    ViewBag.Title ="Услуги";
    List<NavigationViewModel> nav = ViewBag.Navigation;
}


    <div class="contentBox2">
        @await Html.PartialAsync("_PartialNavigation", nav)
        <h2 class="marg_02">Услуги</h2>
        <hr class="corr_1">
        <div class="wrap">
          @foreach (var item in Model)
            {

                <div class="contentBox3">
                    <img class="icon1" src="/ajax/readfile?id=@item.PathToImage" alt="">
                    <div class="wrap">
                        <h3><a href="./MoreService?id=@item.Id">@item.Title</a></h3>
                        @Html.Raw(item.Description)
                        <p>@item.Price руб.</p>
                    </div>
                </div>
            }
          
            @*<div class="contentBox3">
                <img class="icon1" src="img/page3_pic2.png" alt="">
                <div class="wrap">
                    <h3><a href="./morePage.html">Lorem ipsum dolor sit amet, consectetu.</a></h3>
                    <p>Dastqui dolorem ipsumquia dolor sitmet conse tequam eius. Asmodi tempora cidunt utabore miase et dolore mag.</p>
                </div>
            </div>
            <div class="contentBox3">
                <img class="icon1" src="img/page3_pic3.png" alt="">
                <div class="wrap">
                    <h3><a href="./morePage.html">Quia dolor sitmet conse tequam lore.</a></h3>
                    <p>Dastqui dolorem ipsumquia dolor sitmet conse tequam eius. Asmodi tempora cidunt utabore miase et dolore mag.</p>
                </div>
            </div>
            <div class="contentBox3">
                <img class="icon1" src="img/page3_pic4.png" alt="">
                <div class="wrap">
                    <h3><a href="./morePage.html">Dolor sitmet conse tequam aterse.</a></h3>
                    <p>Dastqui dolorem ipsumquia dolor sitmet conse tequam eius. Asmodi tempora cidunt utabore miase et dolore mag.</p>
                </div>
            </div>*@
        </div>
        @*<a class="btn moreBtn marg_03" href="./morePage.html">read more</a>*@
    </div>
