﻿<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MoonFresh | @ViewBag.Title</title>
</head>
<body>

    @RenderBody()
@*<script type="text/javascript">
            console.log(' @ViewBag.Title');

        $(document).on('load', function () {
            $('title').text('MoonFresh | @ViewBag.Title');
    });
</script>*@
</body>
</html>