﻿@using MoonFresh.Models
@using MoonFresh.Core
@{
    Property property = ViewBag.Property;
    IEnumerable<MaterialCategory> materialCat = ViewBag.materialCategory;
    IEnumerable<GalleryCategory> galleryCat = ViewBag.GalleryCat;



    var action = ViewContext.RouteData.Values["action"];

}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>MoonFresh | @ViewBag.Title</title>
    <script type="text/javascript">
    </script>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <meta name="description" content="@property.Description">
    <meta name="keywords" content="@property.KeyWords">
    <meta name="author" content="VnextDevelopment">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/photoswipe.css">
    <link rel="stylesheet" href="/css/galleryPrototype5.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/device.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/core.js"></script>
   

    <script type="text/javascript" src="/js/script.js"></script>
    <!--[if lt IE 9]>
            <div style='text-align:center'><a href="https://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="https://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>
            <div style='text-align:center; z-index:999; position:relative;'><a href="https://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="https://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    @*<script type="text/javascript">
        console.log(' @ViewBag.Title');
        $(document).on('load', function () {
            $('title').text('MoonFresh | @ViewBag.Title');
        });
    </script>*@
</head>
<body>
    <div id="webSiteLoader"><span></span></div>
    <div id="glob-wrap">
        <div class="bgCover"></div>
        <header>
            <div class="container">
                <div class="row">

                    <nav id="mainNav" data-follow="location" data-type="navigation">
                        <ul>
                            <li>
                                <a href="./about">
                                    <span class="name">О нас</span>
                                    <div class="extra"></div>
                                    <div class="overHolder">
                                        <div class="plane1"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="./ServicesCategory">
                                    <span class="name">Услуги</span>
                                    <div class="extra"></div>
                                    <div class="overHolder">
                                        <div class="plane1"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    <span class="name">Галлерея</span>
                                    <div class="extra"></div>
                                    <div class="overHolder">
                                        <div class="plane1"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="./contacts">
                                    <span class="name">Контакты</span>
                                    <div class="extra"></div>
                                    <div class="overHolder">
                                        <div class="plane1"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                               <div class="dropdown">
                                  <a href="#" data-toggle="dropdown" >
                                    <span class="name">Статьи</span>
                                      <div class="extra"></div>
                    

                                </a>
                                <ul class="dropdown-menu">
                                    @foreach (var item in materialCat)
                                    {
                                        <li><a href="/AllMaterials?id=@item.Id">@item.Title</a></li>

                                    }   
                                </ul>
                                   </div>
                            </li>
                        
                        </ul>
                        <form class="search_form" action="#" method="get" name="search" enctype="multipart/form-data" accept-charset="UTF-8" id="form_search">
                            <input class="search_fld" type="text" placeholder="Поиск" name="text" value="" id="fsearch" autocomplete="off">
                            <input class="search_btn-i" name="search_b" type="submit" value="Найти">
                        </form>
                        <span class="line"></span>
                    </nav>

                    <h1><a href="/"><img src="/ajax/readfile?id=@property.PathToLogo" alt=""></a></h1>
                </div>
            </div>
        </header>
        @if (ViewBag.Navigation != null)
        {
            List<NavigationViewModel> nav = ViewBag.Navigation;

            await Html.PartialAsync("_PartialNavigation", nav);
        }
       
          
     
        @if ((action as string).ToLower() == "index")
        {
            
                @RenderBody()
            


            <div class="galleryHolder">
                <div id="galleryPrototype5" class="disableResize"></div>
            </div>
            <div id="content_pages" data-follow="location" data-type="switcher" data-flags="ajax"></div>


        }
        else if ((action as string).ToLower() != "index" && (action as string).ToLower() != "galleryall")
        {
            @*<div class="gallery">
                <div class="splashHolder">

                </div>
            </div>*@
            Html.RenderPartial("IndexPartial", galleryCat);
                    <div class="galleryHolder">
                <div id = "galleryPrototype5" class="disableResize"></div>
            </div>
            <div id = "content_pages" data-follow="location" data-type="switcher" data-flags="ajax">@RenderBody()</div>


        }
        else if ((action as string).ToLower() == "galleryall")
        {

            <div class="gallery">
                <div class="splashHolder">

                </div>
            </div>

            <div class="galleryHolder">
                <div id="galleryPrototype5" class="disableResize">@RenderBody()</div>
            </div>

            <div id="content_pages" data-follow="location" data-type="switcher" data-flags="ajax"></div>




        }
        <footer>
            <div class="container">
                <div class="social_ic">
                    <ul class="followList">
                        @foreach(var itm in property.Social)
                        {

                            <li><a href="@itm.Href" class="@itm.Image"></a></li>
                        }
                        @*<li><a href="./" class="fa fa-facebook"></a></li>
                        <li><a href="./" class="fa fa-google-plus"></a></li>
                        <li><a href="./" class="fa fa-rss"></a></li>
                        <li><a href="./" class="fa fa-pinterest"></a></li>
                        <li><a href="./" class="fa fa-linkedin"></a></li>*@
                    </ul>
                </div>
                <div class="copyright">&copy; <span id="year"></span> &bull; <a href="./privacyPage.html">Privacy Policy</a><br> </div>
            </div>
        </footer>
    </div>
</body>
</html>
