﻿@model IEnumerable<MoonFresh.Core.NavigationViewModel>
@{ 
    string navigation="";
    if(Model!=null)
    {
        foreach(var item in Model)
        {
            navigation += string.Format("<a href=\"{0}\">{1}</a>->",item.Reff,item.Title);

        }
        navigation = navigation.Remove(navigation.Length - 2);

    }
}
<p>@Html.Raw(navigation)</p>