﻿@using MoonFresh.Core
@model IEnumerable<MoonFresh.Models.GalleryCategory>
@{
    ViewBag.Title = "Галлерея";
   
}


<div class="splashHolder">

    <ul>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <li class="@string.Format("linkItem item{0}",i+1)">
                <div class="imageItem"><img src="/ajax/readfile?id=@Model.ElementAt(i).PathToImage" alt=""></div>
                <a href="./GalleryAll/@Model.ElementAt(i).Title">
                    <div class="title">@Model.ElementAt(i).Title</div>
                    <div class="extraGradient"></div>
                    <div class="extraPlane0"><img src="img/grad_button.png" alt=""></div>
                    <div class="extraPlane1"></div>
                    <div class="extraPlane2"></div>
                    <div class="extraPlane3"></div>
                    <div class="extraPlane4"></div>
                </a>
            </li>

        }

     
    </ul>
</div>



<div id="category_pages" data-follow="location" data-type="switcher">
    @foreach (var item in Model)
    {
        <div data-id="GalleryAll/@item.Title" data-source="./GalleryAll?id=@item.Title"></div>

    }

</div>
