﻿
@{ 
    ViewBag.Title = "MoonFresh Панель управления " + ViewBag.Title;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <!--Меню-->
    @*@if (User.Identity.IsAuthenticated)
    {*@
    <div class="header">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="~/admin" class="navbar-brand">Главная</a></li>
                        <li><a href="~/admin/gallery" class="navbar-brand">Галлерея</a></li>
                        <li><a href="~/admin/service" class="navbar-brand">Услуги</a></li>
                         <li><a href="~/admin/user" class="navbar-brand">Пользователи</a></li>
                        <li><a href="~/admin/property" class="navbar-brand">Настройки</a></li>
                        
                        <li><a href="~/admin/account/logout" class="navbar-brand">Выход</a></li>

                        
                    </ul>
                </div>
            </div>
        </nav>
    </div>
        @*}*@
    <!--основной контент-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>©2016 VNextDevelopment All right reserved</p>
        </footer>
    </div>

</body>

</html>
<script src="~/lib/jquery/dist/jquery-3.1.0.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"> </script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({
    selector: 'textarea',
    plugins: "code",
   
});</script>
@RenderSection("Scripts", required: false)