﻿@model DbsNetCore.Utils.Helpers.Models.PageInfo
<div>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        string cssclass = "btn btn-default";
        if (i == Model.PageNumber)
        {
            cssclass = "selected btn btn-primary";
        }

        <a href="@Model.Url?pageNumber=@i.ToString()@Model.Parametrs" class="@cssclass" >@i.ToString()</a>

    }
</div>