﻿@model DbsNetCore.Models.Identity.User
@{ 
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(x => x.UserName, htmlAttributes: new { @class="control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(x=>x.UserName,new { htmlAttributes=new {@class="form-control"}})
                @Html.ValidationMessageFor(x => x.UserName, "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Password, "")
            </div>
        </div>
        <input type="submit" content="Войти" class="btn btn-primary" />

    </div>
}
