﻿@model MoonFresh.Areas.Admin.ViewModels.Material.MaterialAddViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Добавление материала";
}

<h1>@ViewBag.Title</h1>
<hr />

@using (Html.BeginForm("Add", "Material", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{

    <div class="row">
        <div Class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(x => x.Title, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Title, "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Subtitle, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Subtitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Subtitle, "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.CategoryId, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.CategoryId, "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Description, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Description)
                    @Html.ValidationMessageFor(x => x.Description, "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Text, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Text)
                    @Html.ValidationMessageFor(x => x.Text, "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Image, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Image, new { htmlAttributes = new { @type = "file" } })
                    @Html.ValidationMessageFor(x => x.Image, "")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Author, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Author, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Author, "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Date, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Date, "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Rate, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Rate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Rate, "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Tags, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Tags, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Tags, "")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.IsActive, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.IsActive)
                </div>
            </div>
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>

    </div>
}
