﻿@model MoonFresh.Areas.Admin.ViewModels.Material.MaterialCategoryAddViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Добавление категории материалов";
}

<h1>@ViewBag.Title</h1>
<hr />

@using (Html.BeginForm("AddCategory", "Material", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{

    <div class="row">
        <div Class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(x => x.Title, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Title, "")
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(x => x.Text, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Text, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Text, "")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.IsActive, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.IsActive)
                </div>
            </div>
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>

    </div>
}
