﻿@model MoonFresh.Areas.Admin.ViewModels.Material.MaterialIndexViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Материалы";
}

<h1>@ViewBag.Title</h1>
<hr />
<h3>Категории материалов</h3>
@Html.ActionLink("Добавить", "AddCategory", "Material", null, new { @class = "btn btn-success" })
<table class="table table-hover">
    <thead>
        <tr>
            <th>Категория</th>
            <th>Описание</th>
            <th>Вкл.</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MaterialCategoryes)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Title)</td>
                <td>@Html.DisplayFor(x => item.Text)</td>
                @*<td><img src="/ajax/readfile?id=@item.PathToImage" hight="300" width="300" /></td>*@
                <td>@Html.DisplayFor(x => item.IsActive)</td>
                <td>@Html.ActionLink("Редактировать", "EditCategory", "Material", new { @id = item.Id }, new { @class = "btn btn-primary " })</td>
                <td> <button class="btn btn-danger DeleteFaq" value="@item.Id">Удалить</button></td>
                @*<td>@Html.ActionLink("Удалить", "DeleteCategory", "Material", new { @id = item.Id }, new { @class = "btn btn-Danger DeleteCategory" })</td>*@
            </tr>

        }
    </tbody>
</table>

<hr />
<h3>Материалы</h3>
<hr />
<h4>Фильтр</h4>
@using (Html.BeginForm("Index", "Material", FormMethod.Get))
{
    <div class="form form-horizontal">
        <div class="col-md-5">
            <div class="form-group">

                @Html.DropDownList("categoryId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Фильтровать" />
        </div>
    </div>
}
<hr />
@Html.ActionLink("Добавить", "Add", "Material", null, new { @class = "btn btn-success" })
<table class="table table-hover">
    <thead>
        <tr>
            <th>Заголовок</th>
            <th>Описание</th>
            <th>Изображение</th>
            <th>Вкл.</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Materials)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Title)</td>
                <td>@Html.DisplayFor(x => item.Description)</td>
                <td><img src="/ajax/readfile?id=@item.PathToImage" hight="300" width="300" /></td>
                <td>@Html.DisplayFor(x => item.IsActive)</td>
                <td>@Html.ActionLink("Редактировать", "Edit", "Material", new { @id = item.Id }, new { @class = "btn btn-primary " })</td>

                <td> <button class="btn btn-danger DeleteFaq1" value="@item.Id">Удалить</button></td>
                @*<td>@Html.ActionLink("Удалить", "Delete", "Gallery", new { @id = item.Id }, new { @class = "btn btn-Danger DeleteCategory" })</td>*@
            </tr>

        }
    </tbody>
</table>
@await Html.PartialAsync("Paging", Model.PageInfo)


@section Scripts{
    <script>
        $('.DeleteFaq').click(function (e) {
            e.preventDefault();
            var confirm = window.confirm('Вы действительно хотите удалить Категорию ?');
            if (confirm == true) {
                var id = $(this).val();

                console.log(id);

                $.post('@Url.Action("DeleteCategory", "Material", null)/?id=' + id, function (data) { alert(data); });

                //window.location.replace('@Url.Action("Index")');
                location.reload();
            }

        });

        $('.DeleteFaq1').click(function (e) {
            e.preventDefault();
            var confirm = window.confirm('Вы действительно хотите удалить материал ?');
            if (confirm == true) {
                var id = $(this).val();

                console.log(id);

                $.post('@Url.Action("Delete", "Material", null)/?id=' + id, function (data) { alert(data); });

                window.location.replace('@Url.Action("Index")');
            }

        });
    </script>
}