﻿@model MoonFresh.Areas.Admin.ViewModels.Service.ServiceEditViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Редактирование услуги";
}

<h1>@ViewBag.Title</h1>
<hr />

@using (Html.BeginForm("EditService", "Service", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x=>x.Id)
    @Html.HiddenFor(x=>x.PathToImage)
    <div class="row">
        <div Class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(x => x.CategoryId, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.CategoryId, "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Title, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Title, "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Description, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Description, "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.More, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.More, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.More, "")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.PathToImage, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    <img src="/ajax/readfile?id=@Model.PathToImage" hight="300" width="300" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Image, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Image, new { htmlAttributes = new { @type = "file" } })
                    @Html.ValidationMessageFor(x => x.Image, "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Price, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Price, "")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.IsActive, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.IsActive)
                </div>
            </div>
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>

    </div>
}
