﻿@model MoonFresh.Areas.Admin.ViewModels.Service.ServiceIndexViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Услуги";
}

<h1>@ViewBag.Title</h1>
<hr />
<h1>Категории услуг</h1>
@Html.ActionLink("Добавить", "AddServiceCategory", "Service", null, new { @class = "btn btn-success" })
<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Иконка</th>
            <th>Вкл.</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categoryes)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Title)</td>
                <td>@Html.DisplayFor(x => item.Description)</td>
                <td><img src="/ajax/readfile?id=@item.PathToImage" hight="300" width="300" /></td>
                <td>@Html.DisplayFor(x => item.IsActive)</td>
                <td>@Html.ActionLink("Редактировать", "EditServiceCategory", "Service", new { @id = item.Id }, new { @class = "btn btn-primary " })</td>
                <td> <button class="btn btn-danger DeleteFaq1" value="@item.Id">Удалить</button></td>
                @*<td>@Html.ActionLink("Удалить", "DeleteCategory", "Material", new { @id = item.Id }, new { @class = "btn btn-Danger DeleteCategory" })</td>*@
            </tr>

        }
    </tbody>
</table>


@Html.ActionLink("Добавить", "AddService", "Service", null, new { @class = "btn btn-success" })
<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Иконка</th>
            <th>Вкл.</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Services)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Title)</td>
                <td>@Html.DisplayFor(x => item.Description)</td>
                <td><img src="/ajax/readfile?id=@item.PathToImage" hight="300" width="300" /></td>
                <td>@Html.DisplayFor(x => item.IsActive)</td>
                <td>@Html.ActionLink("Редактировать", "EditService", "Service", new { @id = item.Id }, new { @class = "btn btn-primary " })</td>
                <td> <button class="btn btn-danger DeleteFaq" value="@item.Id">Удалить</button></td>
                @*<td>@Html.ActionLink("Удалить", "DeleteCategory", "Material", new { @id = item.Id }, new { @class = "btn btn-Danger DeleteCategory" })</td>*@
            </tr>

        }
    </tbody>
</table>


@section Scripts{
    <script>
        $('.DeleteFaq').click(function (e) {
            e.preventDefault();
            var confirm = window.confirm('Вы действительно хотите удалить Категорию ?');
            if (confirm == true) {
                var id = $(this).val();

                console.log(id);

                $.post('@Url.Action("Delete", "Service", null)?id=' + id, function (data) {
                    alert(data);
                    location.reload();
                });

                //window.location.replace('@Url.Action("Index")');
                location.reload();
            }

        });

              $('.DeleteFaq1').click(function (e) {
            e.preventDefault();
            var confirm = window.confirm('Вы действительно хотите удалить Категорию ?');
            if (confirm == true) {
                var id = $(this).val();

                console.log(id);

                $.post('@Url.Action("DeleteServiceCategory", "Service", null)?id=' + id, function (data) {
                    alert(data);
                    location.reload();
                });

                //window.location.replace('@Url.Action("Index")');
                location.reload();
            }

        });


    </script>
}