﻿@model MoonFresh.Areas.Admin.ViewModels.Property.PropertyAddViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1>Настройки</h1>
<hr />
@using (Html.BeginForm("Add", "Property", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-sm-6">
            <h3>Настройки шаблона главной страницы</h3>
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(x => x.Name, htmlAttributes: new { @class = "control-lable col-sm-3" })
                    <div class="col-sm-9">
                        @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.Name, "")
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Logo, htmlAttributes: new { @class = "control-lable col-sm-2" })
                    <div class="col-sm-10">
                        @Html.EditorFor(x => x.Logo)
                        @Html.ValidationMessageFor(x => x.Logo, "")
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.TimeOfWorck, htmlAttributes: new { @class = "control-lable col-sm-2" })
                    <div class="col-sm-10">
                        @Html.EditorFor(x => x.TimeOfWorck, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.TimeOfWorck, "")
                    </div>
                </div>
              
             <figure>
                <legend>SEO</legend>
                     
                <div class="form-group">
                    @Html.LabelFor(x => x.Yascript, htmlAttributes: new { @class = "control-lable col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(x => x.Yascript, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.Yascript, "")
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Gscript, htmlAttributes: new { @class = "control-lable col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(x => x.Gscript, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.Gscript, "")
                    </div>
                </div>
                 <div class="form-group">
                     @Html.LabelFor(x => x.KeyWords, htmlAttributes: new { @class = "control-lable col-sm-2" })
                     <div class="col-sm-10">
                         @Html.EditorFor(x => x.KeyWords, new { htmlAttributes = new { @class = "form-control" } })
                         @Html.ValidationMessageFor(x => x.KeyWords, "")
                     </div>
                 </div>
                 <div class="form-group">
                     @Html.LabelFor(x => x.Description, htmlAttributes: new { @class = "control-lable col-sm-2" })
                     <div class="col-sm-10">
                         @Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "form-control" } })
                         @Html.ValidationMessageFor(x => x.Description, "")
                     </div>
                 </div>

           </figure>

        </div>
      </div>
        <div class="col-sm-6">
            <h3>О компании</h3>
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(x => x.About.Title, htmlAttributes: new { @class = "control-lable col-sm-2" })
                    <div class="col-sm-10">
                        @Html.EditorFor(x => x.About.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.About.Title, "")
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.About.Description, htmlAttributes: new { @class = "control-lable col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(x => x.About.Description)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.About.More, htmlAttributes: new { @class = "control-lable col-sm-2" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(x => x.About.More)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Image, htmlAttributes: new { @class = "control-lable col-sm-2" })
                    <div class="col-sm-10">
                        @Html.EditorFor(x => x.Image)
                        @Html.ValidationMessageFor(x => x.Image, "")
                    </div>
                </div>
                <figure class="figure">
                    <legend>Контакты</legend>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Addres, htmlAttributes: new { @class = "control-lable col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.Addres)
                        </div>
                    </div>
                    <figure>
                        <div class="phones">
                            <div class="form-group">
                                <button class="btn btn-success" id="addPhone">Добавить Телефон</button>
                            </div>
                            <div class="form-group">
                                @Html.Label(null, "Описание", htmlAttributes: new { @class = "control-lable col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.Editor("Phone[0].Key", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(x => x.Phone, "")
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label(null, "Телефон", htmlAttributes: new { @class = "control-lable col-sm-2" })
                                <div class="col-sm-10">
                                    @Html.Editor("Phone[0].Value", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(x => x.Phone.Single().Value, "")
                                </div>
                            </div>
                        </div>
                    </figure>
                    <hr />

                    <div class="form-group">
                        @Html.LabelFor(x => x.Email, htmlAttributes: new { @class = "control-lable col-sm-2" })
                        <div class="col-sm-10">
                            @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.Email, "")
                        </div>
                    </div>
                </figure>
            </div>

        </div>
         
    </div>

    <fieldset>
        <legend>Социальные сети</legend>
        <button class="btn btn-success" id="add">Добавить социальную сеть</button>
        <div class="Infographics">
            <br />
            <div class="form form-inline">
                <div class="form-group">
                    <label>Наименование</label>
                    <input type="text" class="form-control" name="Social[0].Name">
                </div>
                <div class="form-group">
                    <label>Ссылка</label>
                    <input type="text" class="form-control" name="Social[0].Href">
                </div>
                <div class="form-group">
                    <label>Иконка</label>
                    <input type="text" name="Social[0].Image">
                </div>
            </div>
        </div>
    </fieldset>
    <br />
    <fieldset>
        <legend>Настройки почты</legend>
        <div class="form-group">
            @Html.LabelFor(x => x.MailSetting.mailFrom, htmlAttributes: new { @class = "control-lable col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(x => x.MailSetting.mailFrom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.MailSetting.mailFrom, "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.MailSetting.mailFromeName, htmlAttributes: new { @class = "control-lable col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(x => x.MailSetting.mailFromeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.MailSetting.mailFromeName, "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.MailSetting.passwd, htmlAttributes: new { @class = "control-lable col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(x => x.MailSetting.passwd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.MailSetting.passwd, "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.MailSetting.host, htmlAttributes: new { @class = "control-lable col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(x => x.MailSetting.host, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.MailSetting.host, "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.MailSetting.port, htmlAttributes: new { @class = "control-lable col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(x => x.MailSetting.port, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.MailSetting.port, "")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.MailSetting.textpart, htmlAttributes: new { @class = "control-lable col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(x => x.MailSetting.textpart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.MailSetting.textpart, "")
            </div>
        </div>

    </fieldset>
    <br />
    <input type="submit" class="btn btn-primary" value="Добавить" />

}

@section Scripts{

    <script>
        var i = 1;
        var c = 1;
        $('#add').click(function (e) {
            e.preventDefault();
            $('.Infographics').append('<br/><div class="form form-inline"><div class="form-group"><label>Наименование</label><input type="text" class="form-control" name="Social[' + i + '].Name"></div><div class="form-group"><label>Ссылка</label><input type="text" class="form-control" name="Social[' + i + '].Href"></div><div class="form-group"><label>Иконка</label><input type="text"  name="Social[' + i + '].Image"></div></div>')
            i++;



        });
        $('#addPhone').click(function (e) {
            e.preventDefault();
            $('.phones').append('<br/><div class="form-group"><label class="control-lable col-sm-2">Описание</label><div class="col-sm-10"><input type="text" class="form-control" name="Phone[' + i + '].Key"></div></div><div class="form-group"><label class="control-lable col-sm-2">Телефон</label><div class="col-sm-10"><input type="text" class="form-control" name="Phone[' + i + '].Value"></div></div>')
            i++;



        });

        //$('#add_counter').click(function (e) {
        //    e.preventDefault();
        //    $('.Counters').append('<br/><div class="form form-horizontal"><div class="form-group"><label>Наименование</label><input type="text" class="form-control" name="Counters[' + c + '].Name"></div><div class="form-group"><label>Показатель</label><input type="text" class="form-control" name="Counters[' + c + '].Cout"></div></div><hr />')
        //    c++;



        //});
    </script>
}