﻿@model MoonFresh.Models.Property
@{
    ViewBag.Title = "Настройки";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1>Настройки</h1>
<hr />


@Html.ActionLink("Добавить", "Add", "Property", null, new { @class = "btn btn-success" })
@if (Model != null)
{
    @Html.DisplayForModel()
}
@Html.ActionLink("Редактировать", "Edit", "Property", new { @name = Model.Name }, new { @class = "btn btn-primary" })



