﻿@model DbsNetCore.Models.Identity.ViewModels.User.UserEditViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Редактирование пользователя";
}
<div class="row">
    <h1>Добавление пользователя</h1>
    <hr />

    @using (Html.BeginForm("Edit", "User", FormMethod.Post))
    {
        @Html.HiddenFor(x=>x.Id)
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(x => x.UserName, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.UserName, "")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Password, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Password, "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.ConfirmPassword, htmlAttributes: new { @class = "control-lable col-sm-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(x => x.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "")
                </div>
            </div>



            <input type="submit" class="btn btn-primary" value="Добавить" />


        </div>

    }
</div>