﻿@model IEnumerable<DbsNetCore.Models.Identity.User>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Отзывы</h1>
<hr />


@Html.ActionLink("Добавить", "Add", "User", null, new { @class = "btn btn-success" })
<table class="table table-hover">
    <thead>
        <tr>
            <th>Имя пользователя</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.UserName)</td>
                
                <td>@Html.ActionLink("Редактировать", "Edit", "User", new { @id = item.Id }, new { @class = "btn btn-primary " })</td>
                <td> <button class="btn btn-danger DeleteFaq" value="@item.Id">Удалить</button></td>
                @*<td>@Html.ActionLink("Удалить", "DeleteCategory", "Material", new { @id = item.Id }, new { @class = "btn btn-Danger DeleteCategory" })</td>*@
            </tr>

        }
    </tbody>
</table>

@section Scripts{
    <script>
        $('.DeleteFaq').click(function (e) {
            e.preventDefault();
            var confirm = window.confirm('Вы действительно хотите удалить Пользователя ?');
            if (confirm == true) {
                var id = $(this).val();

                console.log(id);

                $.post('@Url.Action("DeleteUser", "User", null)/?id=' + id, function (data) { alert(data); });

                window.location.replace('@Url.Action("Index")');
            }

        });
    </script>
    }